/* ------------------------------------------------------------ *\
	Buttons
\* ------------------------------------------------------------ */

[class^="btn"] { appearance: none; display: inline-block; vertical-align: middle; text-align: center; cursor: pointer; text-decoration: none; appearance: none; border-radius: 0; border: 0; }

/* ------------------------------------------------------------ *\
	Btn
\* ------------------------------------------------------------ */

.btn { font-size: 20px; font-weight: 700; color: $c-orange; border: 2px solid $c-orange; border-radius: 999em; padding: 11px 35px; }
.btn i { margin-right: 10px; }

.btn:hover { background: $c-orange; color: $c-white; }

.btn--small { font-size: 16px; font-weight: 700; padding: 6px 20px; }

.btn--long { min-width: 240px; }

.btn--large { font-size: 24px; }
.btn--large i { font-size: 16px; }

.btn--white-full { border-color: $c-white; background: $c-white; color: #223f47; }

.btn--white { border-color: $c-white; color: $c-white; }
.btn--white:hover { background: $c-white; color: $c-orange; }

/*btn--block*/
.btn--block { display: block; padding-left: 0; padding-right: 0; }

/* Tablet Portrait */

$breakpoint-tablet-portrait {
	.btn { font-size: 18px; padding: 10px 30px; }
	.btn--large { font-size: 22px; }
}

/* Mobile */

$breakpoint-mobile {
	.btn { font-size: 16px; }
	
	.btn--large { font-size: 18px; }
	.btn--large i { font-size: 14px; }
}

/* ------------------------------------------------------------ *\
	Burger Button
\* ------------------------------------------------------------ */

.btn-menu { appearance: none; display: none; width: 46px; height: 46px; background: $c-orange; text-align: center; padding: 14px 5px 0; border-radius: 8px; position: relative; z-index: 5; justify-content: center; align-items: center; flex-wrap: wrap; }

.btn-menu:focus { outline: -webkit-focus-ring-color auto 0; }
.btn-menu span { position: relative; left: 0; display: block; width: 25px; height: 15px; border-top: 3px solid $c-white; margin: 0 auto; }

.btn-menu span:before,
.btn-menu span:after { content: ''; position: absolute; left: 0; width: 100%; height: 3px; background: $c-white; }

.btn-menu span:before { top: -12px; }
.btn-menu span:after { top: 6px; }

.btn-menu span:before,
.btn-menu span:after,
.btn-menu span { transition: all .2s linear; }

.btn-menu.active span { border-color: transparent; left: 4px; }

.btn-menu.active span:before { transform: rotate(45deg) translate(3.5px, 9px); }
.btn-menu.active span:after { transform: rotate(-45deg) translate(3.5px, -9px); }

/* Tablet Portrait */

$breakpoint-tablet-portrait {
	.btn-menu { display: block; }
}